html,body{margin:0px; padding:0px;background-color: #BDDDF7;}

h1,h2,h3,h4,h5,h6,p{margin:0px; padding:0px;}
a,a:hover,a:visited,a:focus{text-decoration:none; color:#333;}
ul,ol{margin: 0px;padding: 0px;list-style: none;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
.clearfix {  zoom: 1 }
img{max-width: 100%;display: block;}
.clearfix:after {clear: both;display: block;visibility: hidden;overflow: hidden;height: 0;content: "&nbsp;";zoom: 1;}

.swiper_conten{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:2;
}
.page_content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #BDDDF7;
}
.page_homes{z-index: 20;}
.home_btn{width: 46%;position: absolute;left: 27%;bottom: 90px;}
.page_title{width: 85%;display: block;margin: 0 auto;}
.page_title_text{width: 80%;display: block;margin: 15px auto 0;}
.page_content{background-repeat: no-repeat;background-size: 100% 100%;}
.home_titles{position: absolute;width: 100%;left: 0px;top: 110px;}
.mulu_title{font-size: 24px;text-align:center;padding-top: 0px;}
.mulu_title_h2{font-size: 18px;}
.mulu_title_h5{font-size: 16px;margin: 15px 0;}
.mulu_text{display: flex;flex-direction: row;justify-content: space-between;font-size: 14px;padding: 3px 5px;background-color: #8BC6F2;border-radius: 15px;margin-bottom: 10px;}
.mulu_text img{width: 18px;height: 18px;}
.mulu_home{padding: 15px;}
.mulu_body{padding: 0 20px;}
.page_inner{padding: 15px;}
.page_top_d{font-size: 14px;color: #357BAE;line-height: 18px;border-bottom: 2px solid #357BAE;position: absolute;top: 15px;left: 15px;height: 40px;}
.page_text_body{padding: 70px 20px;}
.page_text_body h2{font-size: 22px;text-align: center;}
.page_text_p:first-of-type{margin-top: 30px;}
.page_text_p{font-size: 14px;color: #000;text-indent: 2rem;line-height: 22px;text-align: justify;margin-bottom: 10px;}
.page_bottom_img{position: absolute;right: 20px;bottom: 20px;display: block;}
.page_text_body{display: flex;align-items: center;justify-content: center;flex-direction: column;height: 80%;}
.sec_title{margin-top: 30px;margin-bottom: 30px;}
.swiper-button-next{display: none;}
.swiper-button-prev{display: none;}
.swiper-pagination{display: none;}
.menus{position: fixed;right: 10px;top: 10px;width: 30px;height: 30px;z-index: 10;}
.menus.show .menus_img{display: none;}
.menus.show .close_img{display: block;}
.menus .menus_img{display: block;}
.menus .close_img{display: none;}
.menu_box{position: fixed;width: 100%;height: 100%;top: 0;left: -100%;z-index: 9;background-color: #ffffff;}
.menu_lists_scroll{position: absolute;top: 0;left: 0;width: 100%;height: 93%;overflow-y: scroll;background-color: #ffffff;}
.menu_lists{padding: 40px 15px 15px;}
.menu_lists li{font-size: 13px;padding: 10px;display: flex;align-items: center;justify-content: space-between;flex-direction: row;
	background-color: #8BC6F2;border-radius: 15px;margin-bottom: 4px;}
.menu_box.show{left: 0;}
.menu_lists li img{width: 15px;height: 15px;}


@media screen and (max-height:667px){
    .mulu_text{margin-bottom: 5px;font-size: 12px;}
}
